.ButtonView-base {
  display: inline-block;
  position: relative;
  margin: 5px 20px;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 2px;
  background: transparent;
  color: inherit;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
}
.ButtonView-base:hover {
  border-color: #bdbdbd;
}
.ButtonView-base:active {
  border-color: #bdbdbd;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
  background: rgba(224, 224, 224, 0.5);
}
.SideMenuView-base {
  display: block;
  position: relative;
  padding: 10px 20px;
  margin: 0;
  border-right: 1px solid #e0e0e0;
  background: #ffffff;
  color: #757575;
  box-sizing: border-box;
}
.ToolbarView-base {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 20px;
  margin: 0;
  background: #eeeeee;
  border-bottom: 1px solid #e0e0e0;
  color: #212121;
  box-sizing: border-box;
  z-index: 65535;
}
.TabView-base {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background: #ffffff;
  color: #ffffff;
  box-sizing: border-box;
}
.TabView-headerContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-grow: 0;
  height: 50px;
  padding: 0;
  margin: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  box-sizing: border-box;
  z-index: 1;
  list-style: none;
}
.TabView-panelContainer {
  display: block;
  position: relative;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 0;
}
.TabPanelView-header {
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  max-width: 200px;
  border-top: 0px solid transparent;
  border-bottom: 0px solid #26c6da;
  color: #bdbdbd;
  transition: 0.1s ease;
  cursor: pointer;
}
.TabPanelView-header.-active {
  color: #212121;
  border-top-width: 5px;
  border-bottom-width: 5px;
}
.TabPanelView-header:hover {
  color: #212121;
}
.TabPanelView-name {
  display: block;
  position: relative;
  flex-grow: 1;
  text-align: center;
}
.TabPanelView-base {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #212121;
  cursor: pointer;
  box-sizing: border-box;
}
.TabPanelView-base.-active {
  display: block;
}
.NoteView-base {
  display: block;
  position: relative;
  padding: 10px 20px;
  margin: 0;
  background: #ffffff;
  color: #757575;
  box-sizing: border-box;
}
.NoteViewTextBox-base {
  display: block;
  position: absolute;
  width: 100px;
  height: 60px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  box-sizing: border-box;
}
.NoteViewTextBox-base.-focus {
  border-color: #e0e0e0;
}
.NoteViewTextBox-base.-focus .NoteViewTextBox-header {
  background: #f5f5f5;
  border-color: #e0e0e0;
}
.NoteViewTextBox-header {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid transparent;
  box-sizing: border-box;
}
.NoteViewTextBox-textarea {
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  border: none;
  background: none;
  color: #212121;
  outline: none;
  resize: none;
  box-sizing: border-box;
}
html,
body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  -webkit-user-select: none;
}
#toolbar {
  flex-grow: 0;
}
#logo {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
#logo h1 {
  line-height: 1em;
  margin: 0 0 5px;
  vertical-align: middle;
}
#maincontainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background: #eeeeee;
}
#sidemenu {
  width: 200px;
  flex-grow: 0;
}
#noteview {
  flex-grow: 1;
}
