.Markdown-bold {
  font-weight: bold;
}
.Markdown-italic {
  font-style: italic;
}
.Markdown-paragraph,
.Markdown-block {
  display: block;
  position: realtive;
  margin: 0 0 10px 0;
  padding: 0;
  line-height: 1.2em;
}
.Markdown-paragraph:last-child,
.Markdown-block:last-child {
  margin-bottom: 0;
}
.Markdown-paragraph .Markdown-block,
.Markdown-block .Markdown-block {
  margin-left: 20px;
}
h1.Markdown-header,
h2.Markdown-header,
h3.Markdown-header,
h4.Markdown-header,
h5.Markdown-header,
h6.Markdown-header {
  display: block;
  margin: 30px 0 10px 0;
  line-height: 1em;
  box-sizing: border-box;
}
h1.Markdown-header {
  margin: 0 0 10px 0;
  font-size: 4em;
  color: #4dd0e1;
}
h2.Markdown-header {
  margin-left: -20px;
  font-size: 1.8em;
  padding: 3px 0 3px 13px;
  border-left: 5px solid #26c6da;
}
h3.Markdown-header {
  font-size: 1em;
}
h4.Markdown-header {
  font-size: 0.8em;
}
h5.Markdown-header {
  font-size: 0.6em;
}
h6.Markdown-header {
  font-size: 0.5em;
}
.Markdown-list {
  margin: 0 0 15px 0;
  padding: 0 0 0 25px;
}
.Markdown-listItem {
  margin: 0 0 5px 0;
}
.Markdown-horizontalLine {
  border: none;
  border-top: 1px solid #bdbdbd;
  margin: 0 0 10px 0;
}
.ButtonView-base {
  display: inline-block;
  position: relative;
  margin: 5px 20px;
  padding: 5px 10px;
  border: 1px solid transparent;
  border-radius: 2px;
  background: transparent;
  color: inherit;
  vertical-align: middle;
  outline: none;
  cursor: pointer;
  box-sizing: border-box;
}
.ButtonView-base:hover {
  border-color: #bdbdbd;
}
.ButtonView-base:active {
  border-color: #bdbdbd;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.3);
  background: rgba(224, 224, 224, 0.5);
}
.SideMenuView-base {
  display: block;
  position: relative;
  padding: 10px 20px;
  margin: 0;
  border-right: 1px solid #e0e0e0;
  background: #ffffff;
  color: #757575;
  box-sizing: border-box;
}
.ToolbarView-base {
  display: block;
  position: relative;
  width: 100%;
  padding: 10px 20px;
  margin: 0;
  background: #eeeeee;
  border-bottom: 1px solid #e0e0e0;
  color: #212121;
  box-sizing: border-box;
  z-index: 65535;
}
.TabView-base {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: 0;
  margin: 0;
  background: #ffffff;
  color: #ffffff;
  box-sizing: border-box;
}
.TabView-headerContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  flex-grow: 0;
  height: 50px;
  padding: 0;
  margin: 0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  color: #ffffff;
  box-sizing: border-box;
  z-index: 1;
  list-style: none;
}
.TabView-panelContainer {
  display: block;
  position: relative;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  z-index: 0;
}
.TabPanelView-header {
  display: flex;
  position: relative;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  max-width: 200px;
  border-top: 0px solid transparent;
  border-bottom: 0px solid #26c6da;
  color: #bdbdbd;
  transition: 0.1s ease;
  cursor: pointer;
}
.TabPanelView-header.-active {
  color: #212121;
  border-top-width: 5px;
  border-bottom-width: 5px;
}
.TabPanelView-header:hover {
  color: #212121;
}
.TabPanelView-name {
  display: block;
  position: relative;
  flex-grow: 1;
  text-align: center;
}
.TabPanelView-base {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px;
  color: #212121;
  cursor: pointer;
  box-sizing: border-box;
}
.TabPanelView-base.-active {
  display: block;
}
.NoteView-base {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  background: #ffffff;
  color: #757575;
  overflow: scroll;
  box-sizing: border-box;
  cursor: text;
}
.NoteViewTextbox-base {
  display: block;
  position: absolute;
  padding: 0;
  margin: 0;
  border-radius: 3px;
  border: 1px solid transparent;
  background: transparent;
  transition: background 0.2s ease;
  cursor: default;
}
.NoteViewTextbox-base:hover,
.NoteViewTextbox-base.-hover {
  background: rgba(224, 224, 224, 0.1);
}
.NoteViewTextbox-base.-drag {
  cursor: move;
  background: rgba(77, 208, 225, 0.3);
}
.NoteViewTextbox-base.-edit {
  background: rgba(255, 213, 79, 0.1);
}
.NoteViewTextbox-resizeHandle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 10px;
  cursor: e-resize;
  z-index: 65535;
}
.NoteViewTextbox-renderingLayer {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  color: #212121;
  font-family: Osaka-mono, "MS Gothic", monospace;
  font-size: 14px;
  line-height: 1.2;
}
.NoteViewTextbox-editLayer {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 10px;
  color: #212121;
  font-family: Osaka-mono, "MS Gothic", monospace;
  font-size: 14px;
  line-height: 1.2;
  outline: none;
  z-index: 65534;
}
.NoteViewTextbox-line,
kbd {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  color: #212121;
  font-family: Osaka-mono, "MS Gothic", monospace;
  font-size: 14px;
  line-height: 1.2;
}
.NoteViewTextbox-scope {
  display: inline-block;
  max-width: 100%;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
  vertical-align: middle;
}
.NoteViewTextbox-scope-header1 {
  margin: 0 0 20px 0;
  color: #26c6da;
  font-size: 3em;
  font-weight: bold;
}
.NoteViewTextbox-scope-header2 {
  margin: 10px 0 10px -20px;
  padding-left: 15px;
  border-left: 5px solid #26c6da;
  font-size: 1.8em;
}
.NoteViewTextbox-scope-hr {
  border-bottom: 1px solid #bdbdbd;
  color: transparent;
}
.NoteViewTextbox-base.-edit .NoteViewTextbox-scope-hr {
  color: #bdbdbd;
  border-bottom: none;
}
.NoteViewTextbox-scope-indent {
  color: transparent;
  width: 4em;
  height: 1px;
}
.NoteViewTextbox-base.-edit .NoteViewTextbox-scope-indent {
  color: #bdbdbd;
  background: #bdbdbd;
}
.NoteViewTextbox-scope-list {
  padding-left: 14px;
}
.NoteViewTextbox-scope-list:before {
  display: inline-block;
  position: relative;
  width: 14px;
  margin-left: -14px;
  margin-bottom: -2px;
  padding: 0;
  content: "\02022";
  color: #4dd0e1;
  text-align: center;
  vertical-align: middle;
}
.AlertView-base {
  display: block;
  position: fixed;
  right: 0px;
  bottom: -60px;
  padding: 10px 20px;
  background: #455ede;
  color: #ffffff;
  z-index: 65535;
  transition: 0.3s ease;
  opacity: 0;
}
.AlertView-base.-show {
  bottom: 0px;
  opacity: 1;
}
.AlertView-base.-error {
  background: #e84e40;
}
.DialogView-base {
  display: flex;
  position: relative;
  flex-grow: 0;
  flex-direction: column;
  background: #ffffff;
  box-shadow: 0 10px 60px rgba(0, 0, 0, 0.1);
  border: 2px solid #455ede;
}
.DialogView-header {
  display: block;
  position: relative;
  flex-grow: 0;
  padding: 5px 20px;
  background: #455ede;
}
.DialogView-title {
  display: inline-block;
  position: relative;
  font-weight: bold;
  color: #ffffff;
}
.DialogView-body {
  display: block;
  position: relative;
  flex-grow: 1;
  padding: 40px;
  background: #ffffff;
}
.DialogView-footer {
  display: block;
  position: relative;
  flex-grow: 0;
  padding: 5px 20px;
  background: #ffffff;
  border-top: 1px solid #eeeeee;
  text-align: right;
}
.DialogView-outer {
  display: none;
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  z-index: 65536;
}
.DialogView-outer.-show {
  display: flex;
}
html,
body {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: 'Lucida Grande', 'Hiragino Kaku Gothic ProN', Meiryo, sans-serif;
}
body {
  display: flex;
  flex-direction: column;
  background: #fafafa;
  -webkit-user-select: none;
}
#toolbar {
  flex-grow: 0;
}
#logo {
  margin: 0;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}
#logo h1 {
  line-height: 1em;
  margin: 0 0 5px;
  vertical-align: middle;
}
#maincontainer {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  background: #eeeeee;
}
#sidemenu {
  width: 200px;
  flex-grow: 0;
}
#noteview {
  flex-grow: 1;
}
